.main-content{
    background-color: rgba(18, 18, 18, 0.76);
    backdrop-filter: blur(15px);
    color: white;

    height: 100%;
    width: 100%;
    min-height: 0;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // padding-bottom: 1rem;
    .nav{
        position: relative;
        flex-shrink: 0;
        
        padding-inline: 0.8rem;
        padding-block: 0.5rem;

        display: flex;
        align-items: center;
        gap: 3rem;

        border-bottom: 1px solid white;

        .small-buttons{    
            display: flex;
            gap: 0.3rem;

            .buttons {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                cursor: pointer;
            }
            .red{
                    background-color: #FE5256;
            }
            .yellow{
                    background-color: #F9C202;
            }
            .green{
                    background-color: #30C050;
            }
        }

        .terminal_location{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            
            p{
                font-size: 0.8rem;
            }
        }
    }

    .content{
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
    
    }
    .content::-webkit-scrollbar{
        display: none;
    }
}